################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KSoft Apparel/bin/Debug
/KSoft Apparel/obj/Debug
/.vs/KSoft Apparel Solutions/v16
/packages
