<?xml version="1.0" encoding="utf-8"?>
<configuration>
   
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KSoft_Apparel.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <connectionStrings>
        <add name="KSoft_Apparel.My.MySettings.KSoft_ApparelConnectionString"
            connectionString="Data Source=192.168.0.100,40000;Initial Catalog=ncl-db;Persist Security Info=True;User ID=sa;Password=NERP!@#$2020;Connect Timeout=0"
            providerName="System.Data.SqlClient" />
        <add name="KSoft_Apparel.My.MySettings.KSoft_Doc_ConnectionString"
            connectionString="Data Source=192.168.0.100,40000;Initial Catalog=ncl-doc-db;Persist Security Info=True;User ID=sa;Password=NERP!@#$2020;Connect Timeout=0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
      
        <KSoft_Apparel.My.MySettings>
            <setting name="playagain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockOutTime" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="rptpath" serializeAs="String">
                <value>Not Require</value>
            </setting>
            <setting name="DefaultBranchIdForCutting" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AccDepartmentId" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsRemember" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftp" serializeAs="String">
                <value>ftp://archive.ksoftslns.com/</value>
            </setting>
            <setting name="ResourcePerPage" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromMail" serializeAs="String">
                <value>nerpsolutions@norbangroup.com</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>mail.norbangroup.com</value>
            </setting>
            <setting name="MailPass" serializeAs="String">
                <value>norban123</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25</value>
            </setting>
        </KSoft_Apparel.My.MySettings>
      
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MailServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MailServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://210.4.75.131/mailservice.asmx" binding="basicHttpBinding" bindingConfiguration="MailServiceSoap" contract="MailServiceReference.MailServiceSoap" name="MailServiceSoap" />
            <!--<endpoint address="http://localhost/mailservice.asmx" binding="customBinding"
                bindingConfiguration="MailServiceSoap12" contract="MailServiceReference.MailServiceSoap"
                name="MailServiceSoap12" />-->
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
